<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      About Me
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-card>
    <img
      src="assets/img/{{img}}" />
    <ion-card-header>
      <ion-card-subtitle>Petra Christian University</ion-card-subtitle>
      <ion-card-title>Kevin Jonathan</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      Just a random entity wandering around. Kevin Jonathan is a hardworker and passionate in developing mobile apps. He is
      currently attending Petra Christian University and Apple Developer Academy.
    </ion-card-content>
  </ion-card>
</ion-content>