<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      About Me
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-card>
    <img src="assets/img/{{img}}" />
    <ion-card-header>
      <ion-card-subtitle>Petra Christian University</ion-card-subtitle>
      <ion-card-title>Kevin Jonathan</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      Just a random entity wandering around. Kevin Jonathan is a hardworker and passionate in developing mobile apps. He
      is
      currently attending Petra Christian University and Apple Developer Academy. <br>
    </ion-card-content>
  </ion-card>
  <div *ngIf="guessStatus == false; then thenBlock else elseBlock"></div>
  <ng-template #thenBlock>
    <ion-item>
      <ion-label>Input Number (0-9)</ion-label>
      <ion-input type='number' [(ngModel)]=inputValue min='0' max='9'></ion-input>
    </ion-item>
    <ion-button expand='block' style='padding: 0 10px;' (click)="checkResult()">Guess Number!</ion-button>
  </ng-template>
  <ng-template #elseBlock></ng-template>
</ion-content>