<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      References
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-card>
    <ion-card-header>
      <ion-card-subtitle>Google Classroom</ion-card-subtitle>
      <ion-card-title>IONIC - Program Foto Galeri</ion-card-title>
    </ion-card-header>
  
    <ion-card-content>
      Link: https://classroom.google.com/c/MjY5NTk5OTM1Mzkw/m/Mjk5MzY0MjE0MzQ3/details
    </ion-card-content>
  </ion-card>
</ion-content>
